[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
django-heroku = "==0.3.1"
python-decouple = "==3.4"
django-installed-apps-command = "==2020.12.3"
django-filter = "==2.4.0"
bootstrap4 = "==0.1.0"
django-widget-tweaks = "==1.4.8"
django-search-views = "==0.3.7"
django-embed-video = "==1.4.0"
dj-database-url = "==0.5.0"
environs = "==8.0.0"
schedule = "==1.1.0"
django-facebook = "==6.0.3"
asgiref = "==3.3.4"
certifi = "==2020.12.5"
chardet = "==4.0.0"
dj-email-url = "==1.0.2"
django-cache-url = "==3.2.3"
idna = "==2.10"
marshmallow = "==3.12.1"
psycopg2 = "==2.8.6"
python-dotenv = "==0.17.1"
pytz = "==2021.1"
requests = "==2.25.1"
sqlparse = "==0.4.1"
urllib3 = "==1.26.4"
whitenoise = "==5.2.0"
Django = "==3.2.3"
Pillow = "==8.2.0"
Unidecode = "==1.2.0"
facebook-sdk = "==3.1.0"
cloudinary = "==1.26.0"
django-multiupload = "==0.5.2"
imgkit = "==1.2.2"
django-wkhtmltopdf = "==3.3.0"
pytest-xvfb = "==2.0.0"
pdfkit = "==0.6.1"
django-easy-pdf = "==0.1.1"
weasyprint = "==52.5"
xhtml2pdf = "==0.2.5"
xvfbwrapper = "==0.2.9"
django-yarn = "==0.0.2"
django-yarnpkg = "==6.0.1"
requests-html = "*"
arabic-reshaper = "==2.1.3"
atomicwrites = "==1.4.0"
attrs = "==21.2.0"
cairocffi = "==1.2.0"
cffi = "==1.14.6"
colorama = "==0.4.4"
cssselect2 = "==0.4.1"
defusedxml = "==0.7.1"
future = "==0.18.2"
html5lib = "==1.1"
iniconfig = "==1.1.1"
pluggy = "==0.13.1"
py = "==1.10.0"
pycparser = "==2.20"
pyparsing = "==2.4.7"
pyphen = "==0.11.0"
pytest = "==6.2.4"
python-bidi = "==0.4.2"
reportlab = "==3.5.68"
six = "==1.16.0"
tinycss2 = "==1.1.0"
toml = "==0.10.2"
webencodings = "==0.5.1"
Jinja2 = "==3.0.1"
CairoSVG = "==2.5.2"
EasyProcess = "==0.3"
MarkupSafe = "==2.0.1"
PyPDF2 = "==1.26.0"
PyVirtualDisplay = "==2.2"
instabot = "*"

[dev-packages]

[requires]
python_version = "3.8"
