.u-section-1 .u-sheet-1 {
  min-height: 2214px;
}

.u-section-1 .u-text-1 {
  margin: 155px 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 1894px;
  grid-template-columns: 25% 25% 25% 25%;
  height: auto;
  grid-gap: 0px 0px;
  margin-top: 55px;
  margin-bottom: 57px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: -7px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 141px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: -7px auto 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 141px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: -7px auto 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 141px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: -7px auto 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 141px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1882px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1562px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-1 .u-text-3 {
    width: 72px;
  }

  .u-section-1 .u-text-6 {
    width: 72px;
  }

  .u-section-1 .u-text-9 {
    width: 72px;
  }

  .u-section-1 .u-text-12 {
    width: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3809px;
  }

  .u-section-1 .u-list-1 {
    min-height: 3589px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}