{% load static %}
{% block content %}


<!-- Eventos-->
<div class="container">
	<form method="GET" action=".">
		<div class="form-group row">
			<label for="publishDateMin" class="col-2 col-form-label">Data minima do evento</label>
			<div class="col-5">
				<input type="date" class="form-control" id="publishDateMin" name="date_min_eventos">
			</div>
		</div>
		<div class="form-group row">
			<label for="publishDateMax" class="col-2 col-form-label">Data maxima do evento</label>
			<div class="col-5">
				<input type="date" class="form-control" id="publishDateMax" name="date_max_eventos">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>

<div class="row" style="padding-left: 273px; padding-top: 40px">
	<div class="col-md">
		<div class="card card-body">

			<h3>Resultados da pesquisa </h3>
		</div>
		<div class="card card-body">

			<table class="table">
				<tr>
					<th>Titulo do Evento</th>
					<th>Projeto Associado</th>
					<th>Artistas</th>
					<th>Local</th>
					<th>Data</th>
				</tr>
			
				{% for evento in eventos %}
				<tr>
					<td>
						<ul><a href="{% url  'eventos' evento.id_evento evento.data_evento %}">{{ evento.titulo_evento }}</a></ul>
					</td>
					<td>{{evento.projeto}}</td>
					<td>{{evento.artistas}}</td>
					<td>{{evento.local}}</td>
					<td>{{evento.data_evento}}</td>
					
				</tr>
				{% endfor %}
		</div>


		{% endblock content %}