{% extends "easy_pdf/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="imgkit-format" content="png"/>
    <meta name="imgkit-orientation" content="Landscape"/>

    <style type="text/css">

    @font-face {
        font-family:Kavinanar;
        src: url('/arabesco_quase_final/arabesco/fonts/Kavivanar-Regular.tff');
    }

    .bottom-left {
        position:absolute;
        bottom: 60px;
        left: 100px;
        width: 60%;
        font-size: 30px;
        font-family:'Kavivanar';
        line-height:150%;
        color:#000;
    }

    </style>

    <div class="container">
        <img src="http://res.cloudinary.com/da7qp20ja/image/upload/v1624310056/yhdj2ejchqw0eqy85f1b.jpg" style="width:100%;">
        <div class="bottom-left"><p>"{{evento.titulo_evento}}"</p></div>
    </div>
</head>
</html>    
{% endblock %}