<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link src="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="static/vendor/bootstrap/css/styles.css" rel="stylesheet" />

</head>


<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	<div class="container">
	  <a class="navbar-brand" href="#">Arabesco</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'home' %}">Home
				<span class="sr-only">(current)</span>
            </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'eventos_new' %}">Eventos</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'membros' %}">Membros</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'historia' %}">História</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'Projetos' %}">Projectos</a>
      </li>
		   <li class="nav-item">
			<a class="nav-link" href="{% url 'login' %}">Log In</a>
		  </li>
		  <li class="nav-item">
      <a class="nav-link" href="{% url 'registo' %}">Sign In</a>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin' %}">Admin</a>
        {% endif %}
	  	</li>
		</ul>
	  </div>
	</div>
</nav>

<div class="bgimg-1">
  <div class="caption">
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Quem somos?</h3>
	<p>De forma pioneira em Portugal, o Quarteto Arabesco tem-se revelado um agrupamento versátil e multifacetado. Procura uma interpretação autêntica do mais variado repertório, tendo disponível um alargado leque de propostas de concerto. É composto por Denys Stetsenko e Raquel Cravino (violino), Lúcio Studer (violeta) e Ana Raquel Pinheiro (violoncelo).</p>
	<p>Em instrumentos da época, o Quarteto Arabesco dedica-se a interpretações historicamente informadas de música dos períodos Barroco e Clássico. Em instrumentos modernos, o Quarteto Arabesco aborda o mais variado repertório de música portuguesa dos séculos XX e XXI, desde o fado e o jazz à música contemporânea. Colabora regularmente com solistas e agrupamentos de destaque. O seu trabalho tem recebido reconhecimento dos mais variados quadrantes. Tem-se igualmente apresentado em formações mais alargadas como Ensemble Arabesco.</p></p>
</div>

<div class="bgimg-2">
  <div class="caption" src="{% static '/assets/img/layout/quarteto.jpg' %}">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">O que fazemos?</h3>
  <p>Desde a sua estreia em 2006, tem desenvolvido uma carreira regular e consistente. Realizou mais de 180 concertos nos principais festivais e salas de Portugal, assim como para a rádio e em numerosas gravações. Destaca-se em baixo, do seu histórico de concertos, alguns concertos.</p>
  <p>Em 2020 realizou uma série de concertos de apresentação do disco Reflexos gravado com o Cordis Ensemble e tem agendada uma série de apresentações pelo país da versão para quarteto de cordas da Criação de Haydn.</p>
  <p>Em 2019 apresentou-se no Grande Auditório do CCB com Pedro Jóia, e fez a estreia moderna em Portugal da versão para quarteto de cordas da Criação de Haydn.</p>
  <p>Em 2017 realizou um ciclo de concertos com o pianista Adriano Jordão com obras de Schumann e Webern. Apresentou nos Dias da Música, CCB, o "Requiem" de Mozart numa versão para quarteto de cordas.</p>
  <p>Gravou o instrumental do tema "Amar pelos dois" de Luisa Sobral, interpretado por Salvador Sobral, música vencedora do Festival Eurovisão da canção.</p>
  <p>Em 2016 interpretou na Semana Santa de Óbidos "As Sete Ultimas Palavras de Cristo na Cruz" de Haydn, nos Dias da Musica do CCB o programa "A Latinidade" com Pedro Joia , e no Palácio Marquês de Pombal "O Legado Ibérico de Haydn".</p>
  <p>Em 2015 apresentou-se com Pedro Joia no CCB com um programa em torno do guitarrista Armandinho, e no Festival Fora do Lugar com o programa "Paixão Ibérica".</p>
  <p>Em 2014 apresentou-se no icónico Palau de la Música Catalana assim como em Andorra, com o guitarrista Pedro Joia, e em Madrid apresentou a "Camarón Suite" em homenagem a Camarón de la Isla.</p>
  <p>Em 2013 apresentou na Fundação Gulbenkian o Requiem de Mozart, e um ciclo de concertos na Bienal de Veneza, no Trafaria-Praia da artista Joana Vasconcelos, em Itália.</p>
  
</div>

<div class="bgimg-3" src="{% static '/assets/img/layout/quarteto.jpg' %}">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
</div>

</body>
</html>
